body {
    background-color: aquamarine;
    font-size: medium;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

div {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black; 
}

button {
    display: flex;
    margin: 20px;
    padding: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: darkcyan;
}