<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/form_style.css">
    <title>Delete Category</title>
</head>

<body>
    {% if conditon %}
        <form method="post">
            <input type="number" name="ID_CATEGORY" placeholder="Insira o id de categoria para ser deletado" required>
            <button type="submit"> Delete </button>
        </form>
    {% else %}

        <div>
            <li> Categoria de ID {{ categoryID }} deletado!! </li>
        </div>
        
    {% endif %}

    <button><a href='{{url_for("index")}}'> Back to Index </a></button>
</body>