<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/table.css">
    <link rel="stylesheet" href="/static/form_style.css">
    <title>Update Products</title>
</head>

<body>
    {% if conditon %}
        <form method="post">
            <input type="number" name="ID_PRODUCT" placeholder="Insira o id de produto para ser atualizado" required>
            <button type="submit"> Update Product </button>
        </form>
    {% else %}

        <div class="data-products">
            <h1> Informações Antigas do Produto </h1>
        
            <table>
                <tr class="table-top">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Category Id</th>
                </tr>       
                    {% for d in info %}
                        <tr>
                        </tr>
                        {% for x in d %}
                            <td> {{ x }}</td>
                        {% endfor %}
                    {% endfor %}   
            </table>

        </div>
        <li>O ID do Produto não pode ser mudado</li>
        <form method="post">
            <input type="text" name="NAME" placeholder="Novo nome do produto" required>
            <input type="number" name="PRICE" placeholder="Novo preço do produto" required>
            <input type="text" name="DESCRIPTION" placeholder="Nova descrição do produto" required>
            <input type="number" name="CATEGORY_ID" placeholder="Novo ID de categoria do produto" required>
            <button type="submit"> Submit Product </button>
        </form>
        
    {% endif %}

    <button><a href='{{url_for("index")}}'> Back to Index </a></button>
</body>