{% extends "base.html" %}

{% block content %}
    <div class="data-categorys">
        <h1> Tabela Categorias </h1>

        <table>
            <tr class="table-top">
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>        
                {% for c in categorys %}
                    <tr>
                        <td> {{ c['id'] }} </td>
                        <td> {{ c['name'] }} </td>
                        <td> {{ c['description'] }} </td>
                    </tr>
                    {% endfor %}   
            </table>
            
        </div>
    <button><a href='{{url_for("index")}}'> Back to Index </a></button>

{% endblock %}